@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-XATcVGsXxihg_font-family: "Inter";
  --mixin-XATcVGsXxihg_font-size: 16px;
  --mixin-XATcVGsXxihg_font-weight: 400;
  --mixin-XATcVGsXxihg_font-style: normal;
  --mixin-XATcVGsXxihg_color: #535353;
  --mixin-XATcVGsXxihg_text-align: left;
  --mixin-XATcVGsXxihg_text-transform: none;
  --mixin-XATcVGsXxihg_line-height: 1.5;
  --mixin-XATcVGsXxihg_letter-spacing: normal;
  --mixin-XATcVGsXxihg_white-space: pre-wrap;
  --mixin-XATcVGsXxihg_user-select: text;
  --mixin-XATcVGsXxihg_text-decoration-line: none;
  --mixin-XATcVGsXxihg_text-overflow: clip;
  --mixin-hnNPuXlL5Z08_color: #000000;
  --mixin-hnNPuXlL5Z08_font-weight: 900;
  --mixin-hnNPuXlL5Z08_font-size: 72px;
  --mixin-hnNPuXlL5Z08_line-height: 1;
  --mixin-hnNPuXlL5Z08_letter-spacing: -4px;
  --mixin-hnNPuXlL5Z08_white-space: pre-wrap;
  --mixin-0mNslAg6XVSp_font-family: "Inter";
  --mixin-0mNslAg6XVSp_color: #000000;
  --mixin-0mNslAg6XVSp_font-size: 48px;
  --mixin-0mNslAg6XVSp_font-weight: 700;
  --mixin-0mNslAg6XVSp_letter-spacing: -1px;
  --mixin-0mNslAg6XVSp_line-height: 1.1;
  --mixin-0mNslAg6XVSp_white-space: pre-wrap;
  --mixin-jF4W0DNDvSrV_color: #0070f3;
  --mixin-jF4W0DNDvSrV_white-space: pre-wrap;
  --mixin-qr4orQu2sFHM_font-family: "Inter";
  --mixin-qr4orQu2sFHM_color: #000000;
  --mixin-qr4orQu2sFHM_font-size: 32px;
  --mixin-qr4orQu2sFHM_font-weight: 600;
  --mixin-qr4orQu2sFHM_letter-spacing: -0.8px;
  --mixin-qr4orQu2sFHM_line-height: 1.2;
  --mixin-qr4orQu2sFHM_white-space: pre-wrap;
  --mixin-l7MScH4NbIM-_font-family: "Inter";
  --mixin-l7MScH4NbIM-_color: #000000;
  --mixin-l7MScH4NbIM-_font-size: 24px;
  --mixin-l7MScH4NbIM-_font-weight: 600;
  --mixin-l7MScH4NbIM-_letter-spacing: -0.5px;
  --mixin-l7MScH4NbIM-_line-height: 1.3;
  --mixin-l7MScH4NbIM-_white-space: pre-wrap;
  --mixin-Z3izDnn3-nME_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Z3izDnn3-nME_border-bottom-color: #dddddd;
  --mixin-Z3izDnn3-nME_border-bottom-style: solid;
  --mixin-Z3izDnn3-nME_border-bottom-width: 1px;
  --mixin-Z3izDnn3-nME_border-left-color: #dddddd;
  --mixin-Z3izDnn3-nME_border-left-style: solid;
  --mixin-Z3izDnn3-nME_border-left-width: 1px;
  --mixin-Z3izDnn3-nME_border-right-color: #dddddd;
  --mixin-Z3izDnn3-nME_border-right-style: solid;
  --mixin-Z3izDnn3-nME_border-right-width: 1px;
  --mixin-Z3izDnn3-nME_border-top-color: #dddddd;
  --mixin-Z3izDnn3-nME_border-top-style: solid;
  --mixin-Z3izDnn3-nME_border-top-width: 1px;
  --mixin-Z3izDnn3-nME_border-bottom-left-radius: 3px;
  --mixin-Z3izDnn3-nME_border-bottom-right-radius: 3px;
  --mixin-Z3izDnn3-nME_border-top-left-radius: 3px;
  --mixin-Z3izDnn3-nME_border-top-right-radius: 3px;
  --mixin-Z3izDnn3-nME_font-family: "Inconsolata";
  --mixin-Z3izDnn3-nME_padding-bottom: 1px;
  --mixin-Z3izDnn3-nME_padding-left: 4px;
  --mixin-Z3izDnn3-nME_padding-right: 4px;
  --mixin-Z3izDnn3-nME_padding-top: 1px;
  --mixin-Z3izDnn3-nME_white-space: pre-wrap;
  --mixin-I4iUTQtT8dWS1_border-left-color: #dddddd;
  --mixin-I4iUTQtT8dWS1_border-left-style: solid;
  --mixin-I4iUTQtT8dWS1_border-left-width: 3px;
  --mixin-I4iUTQtT8dWS1_color: #888888;
  --mixin-I4iUTQtT8dWS1_padding-left: 10px;
  --mixin-I4iUTQtT8dWS1_white-space: pre-wrap;
  --mixin-1SgDyIlZo46MU_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-1SgDyIlZo46MU_border-bottom-color: #dddddd;
  --mixin-1SgDyIlZo46MU_border-bottom-style: solid;
  --mixin-1SgDyIlZo46MU_border-bottom-width: 1px;
  --mixin-1SgDyIlZo46MU_border-left-color: #dddddd;
  --mixin-1SgDyIlZo46MU_border-left-style: solid;
  --mixin-1SgDyIlZo46MU_border-left-width: 1px;
  --mixin-1SgDyIlZo46MU_border-right-color: #dddddd;
  --mixin-1SgDyIlZo46MU_border-right-style: solid;
  --mixin-1SgDyIlZo46MU_border-right-width: 1px;
  --mixin-1SgDyIlZo46MU_border-top-color: #dddddd;
  --mixin-1SgDyIlZo46MU_border-top-style: solid;
  --mixin-1SgDyIlZo46MU_border-top-width: 1px;
  --mixin-1SgDyIlZo46MU_border-bottom-left-radius: 3px;
  --mixin-1SgDyIlZo46MU_border-bottom-right-radius: 3px;
  --mixin-1SgDyIlZo46MU_border-top-left-radius: 3px;
  --mixin-1SgDyIlZo46MU_border-top-right-radius: 3px;
  --mixin-1SgDyIlZo46MU_font-family: "Inconsolata";
  --mixin-1SgDyIlZo46MU_padding-bottom: 3px;
  --mixin-1SgDyIlZo46MU_padding-left: 6px;
  --mixin-1SgDyIlZo46MU_padding-right: 6px;
  --mixin-1SgDyIlZo46MU_padding-top: 3px;
  --mixin-1SgDyIlZo46MU_white-space: pre-wrap;
  --mixin-uPK6qzjnvob93_display: flex;
  --mixin-uPK6qzjnvob93_flex-direction: column;
  --mixin-uPK6qzjnvob93_align-items: stretch;
  --mixin-uPK6qzjnvob93_justify-content: flex-start;
  --mixin-uPK6qzjnvob93_list-style-position: outside;
  --mixin-uPK6qzjnvob93_padding-left: 40px;
  --mixin-uPK6qzjnvob93_position: relative;
  --mixin-uPK6qzjnvob93_list-style-type: disc;
  --mixin-uPK6qzjnvob93_white-space: pre-wrap;
  --mixin-mJPmHdyj5cTmq_display: flex;
  --mixin-mJPmHdyj5cTmq_flex-direction: column;
  --mixin-mJPmHdyj5cTmq_align-items: stretch;
  --mixin-mJPmHdyj5cTmq_justify-content: flex-start;
  --mixin-mJPmHdyj5cTmq_list-style-position: outside;
  --mixin-mJPmHdyj5cTmq_padding-left: 40px;
  --mixin-mJPmHdyj5cTmq_position: relative;
  --mixin-mJPmHdyj5cTmq_list-style-type: decimal;
  --mixin-mJPmHdyj5cTmq_white-space: pre-wrap;
  --mixin-gp0XYHJFZ-9Bh_font-family: "Inter";
  --mixin-gp0XYHJFZ-9Bh_color: #000000;
  --mixin-gp0XYHJFZ-9Bh_font-size: 20px;
  --mixin-gp0XYHJFZ-9Bh_font-weight: 600;
  --mixin-gp0XYHJFZ-9Bh_letter-spacing: -0.3px;
  --mixin-gp0XYHJFZ-9Bh_line-height: 1.5;
  --mixin-gp0XYHJFZ-9Bh_white-space: pre-wrap;
  --mixin-K4xEhocYUyRcE_font-family: "Inter";
  --mixin-K4xEhocYUyRcE_color: #000000;
  --mixin-K4xEhocYUyRcE_font-size: 16px;
  --mixin-K4xEhocYUyRcE_font-weight: 600;
  --mixin-K4xEhocYUyRcE_line-height: 1.5;
  --mixin-K4xEhocYUyRcE_white-space: pre-wrap;
  --mixin-HnN5SY2kEDdmZ_color: #3291ff;
  --mixin-HnN5SY2kEDdmZ_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-XATcVGsXxihg_font-family);
  font-size: var(--mixin-XATcVGsXxihg_font-size);
  font-weight: var(--mixin-XATcVGsXxihg_font-weight);
  font-style: var(--mixin-XATcVGsXxihg_font-style);
  color: var(--mixin-XATcVGsXxihg_color);
  text-align: var(--mixin-XATcVGsXxihg_text-align);
  text-transform: var(--mixin-XATcVGsXxihg_text-transform);
  line-height: var(--mixin-XATcVGsXxihg_line-height);
  letter-spacing: var(--mixin-XATcVGsXxihg_letter-spacing);
  white-space: var(--mixin-XATcVGsXxihg_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-hnNPuXlL5Z08_color);
  font-weight: var(--mixin-hnNPuXlL5Z08_font-weight);
  font-size: var(--mixin-hnNPuXlL5Z08_font-size);
  line-height: var(--mixin-hnNPuXlL5Z08_line-height);
  letter-spacing: var(--mixin-hnNPuXlL5Z08_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-0mNslAg6XVSp_font-family);
  color: var(--mixin-0mNslAg6XVSp_color);
  font-size: var(--mixin-0mNslAg6XVSp_font-size);
  font-weight: var(--mixin-0mNslAg6XVSp_font-weight);
  letter-spacing: var(--mixin-0mNslAg6XVSp_letter-spacing);
  line-height: var(--mixin-0mNslAg6XVSp_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-jF4W0DNDvSrV_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-qr4orQu2sFHM_font-family);
  color: var(--mixin-qr4orQu2sFHM_color);
  font-size: var(--mixin-qr4orQu2sFHM_font-size);
  font-weight: var(--mixin-qr4orQu2sFHM_font-weight);
  letter-spacing: var(--mixin-qr4orQu2sFHM_letter-spacing);
  line-height: var(--mixin-qr4orQu2sFHM_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-l7MScH4NbIM-_font-family);
  color: var(--mixin-l7MScH4NbIM-_color);
  font-size: var(--mixin-l7MScH4NbIM-_font-size);
  font-weight: var(--mixin-l7MScH4NbIM-_font-weight);
  letter-spacing: var(--mixin-l7MScH4NbIM-_letter-spacing);
  line-height: var(--mixin-l7MScH4NbIM-_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-Z3izDnn3-nME_background);
  font-family: var(--mixin-Z3izDnn3-nME_font-family);
  border-radius: var(--mixin-Z3izDnn3-nME_border-top-left-radius)
    var(--mixin-Z3izDnn3-nME_border-top-right-radius)
    var(--mixin-Z3izDnn3-nME_border-bottom-right-radius)
    var(--mixin-Z3izDnn3-nME_border-bottom-left-radius);
  padding: var(--mixin-Z3izDnn3-nME_padding-top)
    var(--mixin-Z3izDnn3-nME_padding-right)
    var(--mixin-Z3izDnn3-nME_padding-bottom)
    var(--mixin-Z3izDnn3-nME_padding-left);
  border-top: var(--mixin-Z3izDnn3-nME_border-top-width)
    var(--mixin-Z3izDnn3-nME_border-top-style)
    var(--mixin-Z3izDnn3-nME_border-top-color);
  border-right: var(--mixin-Z3izDnn3-nME_border-right-width)
    var(--mixin-Z3izDnn3-nME_border-right-style)
    var(--mixin-Z3izDnn3-nME_border-right-color);
  border-bottom: var(--mixin-Z3izDnn3-nME_border-bottom-width)
    var(--mixin-Z3izDnn3-nME_border-bottom-style)
    var(--mixin-Z3izDnn3-nME_border-bottom-color);
  border-left: var(--mixin-Z3izDnn3-nME_border-left-width)
    var(--mixin-Z3izDnn3-nME_border-left-style)
    var(--mixin-Z3izDnn3-nME_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-I4iUTQtT8dWS1_color);
  padding-left: var(--mixin-I4iUTQtT8dWS1_padding-left);
  border-left: var(--mixin-I4iUTQtT8dWS1_border-left-width)
    var(--mixin-I4iUTQtT8dWS1_border-left-style)
    var(--mixin-I4iUTQtT8dWS1_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-1SgDyIlZo46MU_background);
  font-family: var(--mixin-1SgDyIlZo46MU_font-family);
  border-radius: var(--mixin-1SgDyIlZo46MU_border-top-left-radius)
    var(--mixin-1SgDyIlZo46MU_border-top-right-radius)
    var(--mixin-1SgDyIlZo46MU_border-bottom-right-radius)
    var(--mixin-1SgDyIlZo46MU_border-bottom-left-radius);
  padding: var(--mixin-1SgDyIlZo46MU_padding-top)
    var(--mixin-1SgDyIlZo46MU_padding-right)
    var(--mixin-1SgDyIlZo46MU_padding-bottom)
    var(--mixin-1SgDyIlZo46MU_padding-left);
  border-top: var(--mixin-1SgDyIlZo46MU_border-top-width)
    var(--mixin-1SgDyIlZo46MU_border-top-style)
    var(--mixin-1SgDyIlZo46MU_border-top-color);
  border-right: var(--mixin-1SgDyIlZo46MU_border-right-width)
    var(--mixin-1SgDyIlZo46MU_border-right-style)
    var(--mixin-1SgDyIlZo46MU_border-right-color);
  border-bottom: var(--mixin-1SgDyIlZo46MU_border-bottom-width)
    var(--mixin-1SgDyIlZo46MU_border-bottom-style)
    var(--mixin-1SgDyIlZo46MU_border-bottom-color);
  border-left: var(--mixin-1SgDyIlZo46MU_border-left-width)
    var(--mixin-1SgDyIlZo46MU_border-left-style)
    var(--mixin-1SgDyIlZo46MU_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-uPK6qzjnvob93_display);
  flex-direction: var(--mixin-uPK6qzjnvob93_flex-direction);
  align-items: var(--mixin-uPK6qzjnvob93_align-items);
  justify-content: var(--mixin-uPK6qzjnvob93_justify-content);
  list-style-position: var(--mixin-uPK6qzjnvob93_list-style-position);
  padding-left: var(--mixin-uPK6qzjnvob93_padding-left);
  position: var(--mixin-uPK6qzjnvob93_position);
  list-style-type: var(--mixin-uPK6qzjnvob93_list-style-type);
  flex-column-gap: var(--mixin-uPK6qzjnvob93_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-mJPmHdyj5cTmq_display);
  flex-direction: var(--mixin-mJPmHdyj5cTmq_flex-direction);
  align-items: var(--mixin-mJPmHdyj5cTmq_align-items);
  justify-content: var(--mixin-mJPmHdyj5cTmq_justify-content);
  list-style-position: var(--mixin-mJPmHdyj5cTmq_list-style-position);
  padding-left: var(--mixin-mJPmHdyj5cTmq_padding-left);
  position: var(--mixin-mJPmHdyj5cTmq_position);
  list-style-type: var(--mixin-mJPmHdyj5cTmq_list-style-type);
  flex-column-gap: var(--mixin-mJPmHdyj5cTmq_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-gp0XYHJFZ-9Bh_font-family);
  color: var(--mixin-gp0XYHJFZ-9Bh_color);
  font-size: var(--mixin-gp0XYHJFZ-9Bh_font-size);
  font-weight: var(--mixin-gp0XYHJFZ-9Bh_font-weight);
  letter-spacing: var(--mixin-gp0XYHJFZ-9Bh_letter-spacing);
  line-height: var(--mixin-gp0XYHJFZ-9Bh_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-K4xEhocYUyRcE_font-family);
  color: var(--mixin-K4xEhocYUyRcE_color);
  font-size: var(--mixin-K4xEhocYUyRcE_font-size);
  font-weight: var(--mixin-K4xEhocYUyRcE_font-weight);
  line-height: var(--mixin-K4xEhocYUyRcE_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-HnN5SY2kEDdmZ_color);
}
